<div class="container  text-color-light">
    <h1 class="text-center color-light">Product Management</h1><br>

    <div class="mb-4">
        <h2 class="text">Add Product</h2>
        <form (ngSubmit)="addProduct()" #productForm="ngForm">
            <div class="row">
                <div class="col-md-3">

                    <input type="text" [(ngModel)]="newProduct.name" name="name" class="form-control"
                        placeholder="Product Name" required />

                </div>
                <div class="col-md-3">
                    <input type="text" [(ngModel)]="newProduct.description" name="description" class="form-control"
                        placeholder="Description" required />
                </div>
                <div class="col-md-3">
                    <input type="number" [(ngModel)]="newProduct.price" name="price" class="form-control"
                        placeholder="Price" required min="0" />
                </div>
                <div class="col-md-3">
                    <input type="number" [(ngModel)]="newProduct.quantity" name="quantity" class="form-control"
                        placeholder="Quantity" required min="0" />
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-3">Add Product</button>
        </form>
    </div>

    <h2>Product List</h2>
    <table class="table table-bordered mt-3">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price | currency }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <button class="btn btn-warning" (click)="editProduct(product.id)">Edit</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>


    

</div>