            <!-- <div class="container-scroller"> -->
                <div class="container-fluid page-body-wrapper full-page-wrapper">
                  <div class="row w-100 m-0">
                    <div class="content-wrapper full-page-wrapper d-flex align-items-top auth login-bg">
                    
                      <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                          <h6 class="text-center text-primary">Enter User Id And Password</h6>
                          <h3 class="card-title text-left mb-2">Login</h3>
                          <form [formGroup]="logInFrom" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                              <label>Username or email *</label>
                              <input type="text" class="form-control p_input" formControlName="email" required>
                            </div>
                            <div class="form-group">
                              <label>Password *</label>
                              <input type="text" class="form-control p_input" formControlName="password" required>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input"> Remember me </label>
                              </div>
                              <a href="#" class="forgot-pass">Forgot password</a>
                            </div>
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                            </div>
                            <div class="d-flex">
                              <button class="btn btn-facebook mr-2 col btn-outline-primary">
                                <i class="mdi mdi-facebook"></i><a href="#"></a> Facebook </button>
                              <button class="btn btn-google col btn-outline-danger">
                                <i class="mdi mdi-google-plus"></i> Google plus </button>
                            </div>
                            <p class="sign-up">Don't have an Account?<a href="#"> Sign Up</a></p>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- content-wrapper ends -->
                  </div>
                  <!-- row ends -->
                </div>
                <!-- page-body-wrapper ends -->
              <!-- </div> -->
              <!-- container-scroller -->

