<div class="content-wrapper badge-success inline-flex items-center px-2 py-0.5 rounded-full text-sm font-medium text-green-800 bg-green-100">  

    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-white d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                marchmanage_erp.com
                2024</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-white"> Authers <a href=""
                    target="_blank">marchmanage_erp admin
                    </a> marchmanage_erp.com</span>
        </div>
    </footer>
</div>