<div class="px-3 py-3">
    <!-- <h4 class="card-title mb-1">{{this.title}}</h4>
    <br> -->
    <h4 class="card-title mb-1">{{title}}</h4>
    <br>
    <p></p>
    <!-- Button trigger modal -->
    <button type="button" id="btnSave" class="btn btn-primary py-2" (click)=" menuType=true" data-toggle="modal"
        data-target="#exampleModal">
        Create New
    </button>
    <!-- <a href="/stylecategories/addform" class="btn btn-sm btn-primary">Create New</a> -->

    <div class="py-2">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">SI</th>
                    <th scope="col">Id</th>
                    <th scope="col">Style Code</th>
                    <th scope="col">Buyer</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Delivery Date</th>
                    
                    <th scope="col">Status</th>
                    <th scope="col">Tiem & Action</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderRow of order; index as i">
                    <td>{{i+1}}</td>
                    <td>{{orderRow.id}}</td>
                    <td>{{orderRow.styleId?.code}}</td>
                    <td>{{orderRow.buyersId?.organization}}</td>
                    <td>{{orderRow.oderDate}}</td>
                    <td>{{orderRow.deliveryDate}}</td>
                    
                    <!-- <td [ngClass]="{'badge bg-warning text-center': orderRow.orStatusId?.id == 1}">{{orderRow.orStatusId?.name}}</td> -->
                    <!-- <td ><span [ngClass]="{'badge bg-warning rounded-pill px-2 text-light': orderRow.orStatusId?.id == 1
                                            ,'badge bg-primary rounded-pill px-2': orderRow.orStatusId?.id == 2,
                                            'badge bg-info rounded-pill px-2': orderRow.orStatusId?.id == 3,
                                            'badge bg-success rounded-pill px-2': orderRow.orStatusId?.id == 4}">
                        {{orderRow.orStatusId?.name}}</span></td> -->
                    <td ><span [ngClass]="{'badge ':true,
                        'bg-warning': orderRow.orStatusId?.id == 1
                                            ,'bg-primary': orderRow.orStatusId?.id == 2,
                                            'bg-info': orderRow.orStatusId?.id == 3,
                                            'bg-success': orderRow.orStatusId?.id == 4}">
                        {{orderRow.orStatusId?.name}}</span></td>
                        <td><div class="btn-group">
                            <button type="submit" class="btn btn-sm btn-outline-primary"
                                (click)="findTimeActionById(orderRow.id)">TNA</button>
                           
                        </div></td>
                    <td>
                        
                        <div class="btn-group">
                            <a class="btn" (click)="onEditById(orderRow)" data-toggle="modal"
                                data-target="#exampleModal">
                                <fa-icon [icon]="editicon" style="color: #5c34d5;"></fa-icon></a>
                                <a class="btn" (click)="findOrdersDetailsById(orderRow.id)">
                                    <fa-icon [icon]="fasearch" style="color: #349dd5;"></fa-icon></a>

                            <a class="btn" (click)="deleteOrder(orderRow.id)">
                                <fa-icon [icon]="fatrash" style="color: #d53449;"></fa-icon></a>
                        </div>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>


    <!-- Model Form -->

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->

    <!-- Entry Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{title2}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <section class="section">
                            <div class="section-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header bg-light">

                                            </div>
                                            <div class="text-center mt-3">
                                                <h3 class="color-primary text-center mb-0">TechPacker</h3>
                                                <h4 class="">Order Details</h4>
                                            </div>
                                            <hr>


                                            <form [formGroup]="orderForm">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6">
                                                            <!-- style code dropdown -->
                                                            <div class="mb-3">
                                                                <label class="form-label">Style Code</label>
                                                                <select id="styleId" class="form-select"
                                                                    formControlName="styleId">
                                                                    <option *ngFor="let sty of style"
                                                                        [value]="sty.code">
                                                                        {{sty.code}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6">

                                                            <!-- buyer code dropdown -->
                                                            <div class="mb-3">
                                                                <label class="form-label">Buyer</label>
                                                                <select id="buyersId" class="form-select"
                                                                    formControlName="buyersId">
                                                                    <option *ngFor="let buy of buyer"
                                                                        [value]="buy.organization">
                                                                        {{buy.organization}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6">

                                                            <div class="mb-3">
                                                                <label class="form-label">Address</label>
                                                                <input type="text" class="form-control"
                                                                    formControlName="shippingAddress">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6">
                                                            <div class="mb-3">
                                                                <label class="form-label">Order date</label>
                                                                <input type="date" class="form-control"
                                                                    formControlName="oderDate">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6">
                                                            <div class="mb-3">
                                                                <label class="form-label">DeliveryDate date</label>
                                                                <input type="date" class="form-control"
                                                                    formControlName="deliveryDate">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6">
                                                            <!-- Order Status dropdown -->

                                                            <div class="mb-3">
                                                                <label class="form-label">Status</label>
                                                                <select id="orStatusId" class="form-select"
                                                                    formControlName="orStatusId">
                                                                    <option *ngFor="let st of status" [value]="st.name">
                                                                        {{st.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <hr>
                                                    <div class="p-3 bg-light border rounded quantity mb-2"
                                                        >
                                                        <h5 class="color-primary">Add Items Details</h5>
                                                        <div class="row">
                                                            <!-- <div class="mb-3 col-md-3">
                                                                <label class="form-label">Small </label>

                                                            </div> -->
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Small Qty</label>
                                                                <input type="text" class="form-control"
                                                                    formControlName="samount">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Price </label>
                                                                <!-- <input type="text" class="form-control" id="txtPriceS" [(value)]="smallQuantity"> -->
                                                                <input type="text" class="form-control" id="txtPriceS"
                                                                    (change)="onChange($event)"
                                                                    formControlName="smallPrice">
                                                            </div>
                                                            <!-- <div class="mb-3 col-md-3">
                                                                <label class="form-label">Medium</label>

                                                            </div> -->
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Medium Qty</label>
                                                                <input type="text" class="form-control"
                                                                    formControlName="mamount">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Price </label>
                                                                <!-- <input type="text" class="form-control" id="txtPriceM" [(value)]="mediumQuantity"> -->
                                                                <input type="text" class="form-control" id="txtPriceM"
                                                                    formControlName="mediumPrice">
                                                            </div>

                                                            <!-- <div class="mb-3 col-md-3">
                                                                <label class="form-label">Large</label>

                                                            </div> -->
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Large Qty</label>
                                                                <input type="text" class="form-control"
                                                                    formControlName="lamount">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Price </label>
                                                                <!-- <input type="text" class="form-control" id="txtPriceL" [(value)]="largeQuantity"> -->
                                                                <input type="text" class="form-control" id="txtPriceL"
                                                                    placeholder="0" #txtPriceL
                                                                    formControlName="largePrice">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="btn-group">
                                                            <button type="submit" (click)="emptybox()"
                                                                class="btn btn-danger">Empty</button>
                                                            <button type="submit" (click)="totalbox()"
                                                                class="btn btn-primary">Calculate</button>
                                                        </div>
                                                    </div>
                                                    <div class="row py-3">
                                                        <div class="col-sm-6">
                                                            <div class="mb-2">
                                                                <label class="form-label">Remarks</label>
                                                                <input type='text' class='form-control'>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-lg-6 order-lg-2 order-1 ml-auto bg-light border rounded">
                                                            <div class="my-3">
                                                                <label class="form-label">Subtotal</label>
                                                                <!-- <input type="text" class="form-control" [(value)]="subTotal"> -->
                                                                <input type="text"
                                                                    class="form-control form-control-sm text-right"
                                                                    formControlName="subTotal" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Vat</label>
                                                                <input type="text"
                                                                    class="form-control form-control-sm text-right"
                                                                    formControlName="vat" (change)="getValue()" value="0">
                                                                <!-- <input type="text" class="form-control" [(value)]="vat"> -->
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Paid</label>
                                                                <input type="text"
                                                                    class="form-control form-control-sm text-right"
                                                                    formControlName="paid" (keyup)="getDue()">
                                                                <!-- <input type="text" class="form-control" [(value)]="paid"> -->
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Due</label>
                                                                <input type="text"
                                                                    class="form-control form-control-sm text-right text-danger"
                                                                    formControlName="due" readonly placeholder="0">
                                                                <!-- <input type="text" class="form-control" [(value)]="due"> -->
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Total</label>
                                                                <input type="text"
                                                                    class="form-control form-control-sm text-right"
                                                                    formControlName="totalAmount">
                                                                <!-- <input type="text" class="form-control" [(value)]="total"> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        <!-- <button type="submit"  class="btn btn-success"
          [disabled]="vendorForm.invalid" (click)="onSubmit()" data-bs-dismiss="modal">Submit</button>
          
              <button type="submit"  class="btn btn-warning"
              [disabled]="vendorForm.invalid" (click)="editVendors()" data-bs-dismiss="modal">Update</button> -->

                        <div class="btn-group">
                            <div class="px-2">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            <div *ngIf=" menuType == true">
                                <button type="submit" class="btn btn-success" [disabled]="orderForm.invalid"
                                    (click)="onSubmit()" data-bs-dismiss="modal">Submit</button>
                            </div>
                            <div *ngIf="menuType == false">
                                <button type="submit" class="btn btn-warning" [disabled]="orderForm.invalid"
                                    (click)="editOrdersDetails()" data-bs-dismiss="modal">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        

    </div>